DARWIN_USERNAME=replace-me
DARWIN_PASSWORD=replace-me

# These values normally match the Darwin Topic Information shown in My Feeds.
DARWIN_HOST=darwin-dist-44ae45.nationalrail.co.uk
DARWIN_PORT=61613
DARWIN_TOPIC=/topic/darwin.pushport-v16
